#### 파이썬
 - 내부 DB 존재 : SQLite
 - 외부 DB 연동 가능 : oracle, mongoDB

In [12]:
import sqlite3

print(sqlite3.sqlite_version)

3.45.3

In [6]:
from datetime import datetime as dt

now = dt.now()
print(now)

# format
today = now.strftime("%Y-%m-%d %H:%M:%S")
today

2025-01-03 11:09:36.755020

'2025-01-03 11:09:36'

In [45]:
# db 생성
# isolation_level : auto commit 지원 여부

conn = sqlite3.connect("./test.db", isolation_level=None)

In [13]:
# cursor

cursor = conn.cursor()

# 테이블 생성
# TEXT : varchar2
# 숫자 : NUMBERIC, INTEGER
sql = "CREATE TABLE IF NOT EXISTS users(id INTEGER PRIMARY KEY, username TEXT, email TEXT, phone TEXT, regdate TEXT)"
cursor.execute(sql)

In [14]:
# 삽입
now = dt.now()
today = now.strftime("%Y-%m-%d %H:%M:%S")

sql = "INSERT INTO users(id,username,email,phone,regdate) VALUES(1, 'Kim' , 'kim@naver.com' , '010-1234-1234', ?)"
cursor.execute(sql, (today,))

In [15]:
# 삽입
now = dt.now()
today = now.strftime("%Y-%m-%d %H:%M:%S")

sql = "INSERT INTO users(id,username,email,phone,regdate) VALUES(?,?,?,?,?)"
cursor.execute(sql, (2, 'Choi' , 'choi@naver.com' , '010-567-567', today))

In [49]:
now = dt.now()
today = now.strftime("%Y-%m-%d %H:%M:%S")

user_list = (
    (3, "Park", "park@naver.com", "010-1234-5678", today),
    (4, "Lee", "lee@naver.com", "010-5678-1234", today),
    (5, "Yoo", "yoo@naver.com", "010-1324-1324", today)
)

sql = "INSERT INTO users(id,username,email,phone,regdate) VALUES(?,?,?,?,?)"
cursor.executemany(sql, user_list)

In [99]:
# 조회 : fetchone(), fetchmany(), fetchall()

sql = "SELECT * FROM users"
cursor.execute(sql)

cursor.fetchone()

(1, 'Kim', 'kim@naver.com', '010-7896-7896', '2025-01-03 11:51:39')

In [100]:
cursor.fetchmany(size=4)

[(2, 'Choi', 'choi@naver.com', '010-5678-5678', '2025-01-03 11:54:54'),
 (3, 'Park', 'park@naver.com', '010-1234-5678', '2025-01-03 12:20:53'),
 (4, 'Lee', 'lee@naver.com', '010-5678-1234', '2025-01-03 12:20:53'),
 (5, 'Yoo', 'yoo@naver.com', '010-1324-1324', '2025-01-03 12:20:53')]

In [65]:
sql = "SELECT * FROM users"
cursor.execute(sql)

cursor.fetchall()

[(1, 'Kim', 'kim@naver.com', '010-7896-7896', '2025-01-03 11:51:39'),
 (2, 'Choi', 'choi@naver.com', '010-5678-5678', '2025-01-03 11:54:54'),
 (3, 'Park', 'park@naver.com', '010-1234-5678', '2025-01-03 12:20:53'),
 (4, 'Lee', 'lee@naver.com', '010-5678-1234', '2025-01-03 12:20:53'),
 (5, 'Yoo', 'yoo@naver.com', '010-1324-1324', '2025-01-03 12:20:53')]

In [2]:
sql = "SELECT * FROM users"
cursor.execute(sql)

for row in cursor.fetchall():
    print(row)

NameError: name 'cursor' is not defined

In [73]:
# 특정 id 조회

sql = "SELECT * FROM users WHERE id=?"
cursor.execute(sql,(2,))

cursor.fetchone()

(2, 'Choi', 'choi@naver.com', '010-5678-5678', '2025-01-03 11:54:54')

In [54]:
# 특정 id 조회
# 포맷터 포함 가능 

sql = "SELECT * FROM users WHERE id=%d"
cursor.execute(sql % 3)

cursor.fetchone()

(3, 'Park', 'park@naver.com', '010-1234-5678', '2025-01-03 12:20:53')

In [55]:
# dict 사용
sql = "SELECT * FROM users WHERE id = :id"
cursor.execute(sql, {"id":4})

cursor.fetchone()

(4, 'Lee', 'lee@naver.com', '010-5678-1234', '2025-01-03 12:20:53')

In [56]:
# id가 2 or 4

sql = "SELECT * FROM users WHERE id IN (?,?)"
cursor.execute(sql,(2,4))

cursor.fetchall()

[(2, 'Choi', 'choi@naver.com', '010-5678-5678', '2025-01-03 11:54:54'),
 (4, 'Lee', 'lee@naver.com', '010-5678-1234', '2025-01-03 12:20:53')]

In [57]:
# id가 2 or 4 (format 사용)

sql = "SELECT * FROM users WHERE id IN (%d,%d)"
cursor.execute(sql % (2,4))

cursor.fetchall()

[(2, 'Choi', 'choi@naver.com', '010-5678-5678', '2025-01-03 11:54:54'),
 (4, 'Lee', 'lee@naver.com', '010-5678-1234', '2025-01-03 12:20:53')]

In [58]:
# id가 2 or 4 (format 사용)

sql = "SELECT * FROM users WHERE id=:id1 or id=:id2"
cursor.execute(sql, {"id1":2, "id2":4})

cursor.fetchall()

[(2, 'Choi', 'choi@naver.com', '010-5678-5678', '2025-01-03 11:54:54'),
 (4, 'Lee', 'lee@naver.com', '010-5678-1234', '2025-01-03 12:20:53')]

In [59]:
# 수정

sql="UPDATE users SET phone=? WHERE id=?"
cursor.execute(sql, ("010-7896-7896", 1))
conn.commit()

In [102]:
# 수정

sql="UPDATE users SET phone='%s' WHERE id=%d"
cursor.execute(sql % ("010-7896-7896", 4))
conn.commit()

In [103]:
# 수정

sql="UPDATE users SET phone=:username WHERE id=:id"
cursor.execute(sql, {"username":"Im", "id":3})
conn.commit()

In [104]:
# 삭제

sql="DELETE FROM users  WHERE id=?"
cursor.execute(sql,(3,))
conn.commit()

In [105]:
# 삭제

sql="DELETE FROM users  WHERE id=%d"
cursor.execute(sql % 4)
conn.commit()

In [106]:
# 삭제

sql="DELETE FROM users  WHERE id=:id"
cursor.execute(sql ,{"id": 5})
conn.commit()