### 리스트 자료형

- 자바,자바스크립트의 배열과 같은 개념
- 비어있는 리스트 생성 : [] or list()
- 데이터는 다양하게 담을 수 있음

In [1]:
list1 = []
list2 = list()
list3 = [1,2,3,4]
list4 = list(range(10))
list5 = [1,2,['Life','is','short']]

In [2]:
print(list1)
print(list2)
print(list3)
print(list4)
print(list5)

[]
[]
[1, 2, 3, 4]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, ['Life', 'is', 'short']]

In [3]:
print(list3[2])
print(list3[-1])
print(list5[-1])
print(list5[-1][2])
print(list5[2][2])

3
4
['Life', 'is', 'short']
short
short

In [4]:
list6 = [1, 2, ['a','b',['Life','is']]]

print(list6[2][2][1])
print(list6[-1][-1][-1])

is
is

In [5]:
print(list5)
print(list5[2:])
print(list5[2][:2])

[1, 2, ['Life', 'is', 'short']]
[['Life', 'is', 'short']]
['Life', 'is']

In [6]:
# 연산자 : +(연결) , *(반복)

a = [1,2,3]
b = [4,5,6]
c = ['a','b','c']

print(a + b)
print(a + c)

print(a * 3)
print(a[0] * 3)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 'a', 'b', 'c']
[1, 2, 3, 1, 2, 3, 1, 2, 3]
3

In [7]:
# 리스트 특정 요소 수정
list4[1] = 13
print(list4)

# 연속된 범위의 값 수정
list4[2:4] = [10,11]
print(list4)

list4[5] = [20,21,22]
print(list4)

[0, 13, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 13, 10, 11, 4, 5, 6, 7, 8, 9]
[0, 13, 10, 11, 4, [20, 21, 22], 6, 7, 8, 9]

In [8]:
# 리스트 요소 삭제 del
del list4[8]
print(list4)

[0, 13, 10, 11, 4, [20, 21, 22], 6, 7, 9]

In [9]:
# del 객체 : 객체 제거

del list3

In [10]:
# 리스트 함수
# 요소 추가 : append()

a.append(4)
print(a)

a.append([5,6,7])
print(a)

[1, 2, 3, 4]
[1, 2, 3, 4, [5, 6, 7]]

In [11]:
# 리스트 정렬 : sort()
a = [1,4,3,2]
a.sort()  # 원본에 바로 sort 적용

In [12]:
a

[1, 2, 3, 4]

In [13]:
b = ['a','c','b']
b.sort()
print(b)

['a', 'b', 'c']

In [14]:
c = ["ㄷ","ㄱ","ㅎ","ㅂ","ㅅ"]
c.sort()
print(c)

['ㄱ', 'ㄷ', 'ㅂ', 'ㅅ', 'ㅎ']

In [15]:
# 리스트 뒤집기 - reverse()

print(list4)
list4.reverse()
list4

[0, 13, 10, 11, 4, [20, 21, 22], 6, 7, 9]

[9, 7, 6, [20, 21, 22], 4, 11, 10, 13, 0]

In [17]:
print(list1)
print(list2)
print(list4)
print(list5)

[]
[]
[9, 7, 6, [20, 21, 22], 4, 11, 10, 13, 0]
[1, 2, ['Life', 'is', 'short']]

In [20]:
# index() : 요소 위치 반환

list4.index(11)
# list4.index(15) ValueError

5

In [21]:
# insert() : 특정 위치에 요소 삽입

list1.insert(0, 56)
list1

[56]

In [22]:
list1.insert(0, 78)
list1

[78, 56]

In [24]:
# remove() : 동일 요소가 존재할 때는 첫번째 요소만 제거
print(list4)
list4.remove(6)
print(list4)

[9, 7, 6, [20, 21, 22], 4, 11, 10, 13, 0]
[9, 7, [20, 21, 22], 4, 11, 10, 13, 0]

In [25]:
# pop() : 맨 마지막 요소 리턴하고 요소 삭제

print(list4.pop())
print(list4)

0
[9, 7, [20, 21, 22], 4, 11, 10, 13]

In [27]:
# count(x) : 리스트에 포함된 요소 x의 개수세기

list4.append(9)
print(list4)

print("9의 개수 ",list4.count(9))

[9, 7, [20, 21, 22], 4, 11, 10, 13, 9, 9]
9의 개수  3

In [29]:
# extend() : 리스트 확장

list1.extend([10,11,12])
list1

[78, 56, 10, 11, 12]

In [31]:
print(list2)

# 비어 있는 배열 : 거짓
if list2:
    print("참")
else:
    print("거짓")

[]
거짓

In [33]:
# list5

for i in list5:
    print(i)

1
2
['Life', 'is', 'short']

In [36]:
# in

fruits = ["사과","딸기","바나나","수박"]

# 딸기 과일이 포함되었는지 확인
# for fruit in fruits:
#     if fruit == "딸기":
#         print("딸기 포함됨")
#         break

if "딸기" in fruits:
    print("딸기 포함됨")

if "메론" not in fruits:
    print("메론 없음")

딸기 포함됨
메론 없음

In [39]:
# enumerate()

for fruit in fruits:
    print(fruit)

for idx,fruit in enumerate(fruits,start=1):
    print(idx, fruit)

사과
딸기
바나나
수박
1 사과
2 딸기
3 바나나
4 수박

In [40]:
a_class = [70,60,55,75,95,90,80,85,100]
total = 0

# a_class 합계, 평균

for i in a_class:
    total += i

print(f"a_class total = {total}, avg= {total / len(a_class)}")

a_class total = 710, avg= 78.88888888888889

In [42]:
# sum()

print(f"a_class total = {sum(a_class)}, avg= {sum(a_class) / len(a_class)}")

a_class total = 710, avg= 78.88888888888889

### 주차장
- 메뉴 
    - [1] 자동차 넣기 | [2] 자동차 빼기 | [3] 종료 : 
    - A 자동차 들어감. 주차장 상태 ==> ['A']
    - [1] 자동차 넣기 | [2] 자동차 빼기 | [3] 종료 : 
    - B 자동차 들어감. 주차장 상태 ==> ['A','B']
    - [1] 자동차 넣기 | [2] 자동차 빼기 | [3] 종료 : 2
    - B 자동차 나감. 주차장 상태 ==> ['A']

In [47]:
parking_lot = []
top, car_name = 0, "A"

while True:
    menu = int(input("[1] 자동차 넣기 | [2] 자동차 빼기 | [3] 종료 : "))
    if menu <= 3:
        if menu == 1:
            if top >= 5:
                print("주차장 자리 없음")
            else:
                parking_lot.append(car_name)
                print(f"{car_name} 자동차 들어감. 주차장 상태 ==> {parking_lot}")

                # top 변화(다음 자동차가 주차될 위치)
                top += 1
                car_name = chr(ord(car_name) + 1)
        elif menu == 2:
            if top > 0:
                out_car = parking_lot.pop()
                print(f"{out_car} 자동차 나감. 주차장 상태 ==> {parking_lot}")

                top -= 1
                car_name = chr(ord(car_name) - 1)
            else:
                print("주차된 차가 없음")
        else:
            print("프로그램 종료")
            break
    else:
        print('메뉴 번호를 확인해 주세요')

A 자동차 들어감. 주차장 상태 ==> ['A']
B 자동차 들어감. 주차장 상태 ==> ['A', 'B']
C 자동차 들어감. 주차장 상태 ==> ['A', 'B', 'C']
D 자동차 들어감. 주차장 상태 ==> ['A', 'B', 'C', 'D']
E 자동차 들어감. 주차장 상태 ==> ['A', 'B', 'C', 'D', 'E']
주차장 자리 없음
E 자동차 나감. 주차장 상태 ==> ['A', 'B', 'C', 'D']
D 자동차 나감. 주차장 상태 ==> ['A', 'B', 'C']
C 자동차 나감. 주차장 상태 ==> ['A', 'B']
B 자동차 나감. 주차장 상태 ==> ['A']
프로그램 종료

In [46]:
# string => unicode
print(ord("A"))

# unicode => string
chr(66)

65

'B'

### List Comprehension
- 리스트 생성, 조회 시 향상된 방법

In [48]:
# [1,2,3,4,5,6,7] 생성

numbers = [1,2,3,4,5,6,7]
numbers

[1, 2, 3, 4, 5, 6, 7]

In [50]:
list(range(1,101,2))

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99]

In [51]:
numbers = []
numbers.append(1)
numbers

[1]

In [52]:
list1 = [x for x in range(1,101)]
list1

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100]

In [53]:
list2 = ['갑','을','병','정']

# 정이라는 글자를 제외하고 새로운 리스트 생성
list3 = []
for x in list2:
    if x != "정":
        list3.append(x)

list3

['갑', '을', '병']

In [54]:
list4 = [x for x in list2 if x != "정"]
list4

['갑', '을', '병']

In [55]:
# 1~100 숫자 중 홀수 리스트 생성

list5 = [x for x in range(1,101) if x % 2 == 1]
list5

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99]

In [56]:
list6 = ["nice","study","python","anaconda","123"]

# 5글자 이상의 단어들만 새로운 리스트로 생성
list7 = []
for x in list6:
    if len(x) >= 5:
        list7.append(x)
list7

['study', 'python', 'anaconda']

In [57]:
list7 = [x for x in list6 if len(x) >= 5]
list7

['study', 'python', 'anaconda']

In [58]:
# 소문자만 추출해서 새로운 리스트 생성
list8 = ["a","A","b","c","E","F","g"]

# islower()
list9 = [x for x in list8 if x.islower()]
list9

['a', 'b', 'c', 'g']

In [60]:
print([x*2 for x in [1,2,3,4]])
print([x*x for x in range(5)])

[2, 4, 6, 8]
[0, 1, 4, 9, 16]

In [61]:
list1 = [1,2,3]
#  [[1,2,3],[2,3,4],[3,4,5]]

print([[x, x+1, x+2] for x in list1])

[[1, 2, 3], [2, 3, 4], [3, 4, 5]]